<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars_data</title>

 <!-- Boostrap Stylesheet -->
 <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}" media="screen">

 <!-- Our own CSS stylesheet -->
 <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" media="screen">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
      /* .table {
        border-radius: 5px;
        width: 50%;
       // margin: 0px auto; 
        float: none;
      } */
      table, th, td {
        border: 1px solid black;
      }
      th {
        background-color: #4CAF50;
        color: white;
      }
      tr:nth-child(even) {background-color: #f2f2f2;}
      th, td {
        padding: 15px;
        text-align: left;
      }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.13.0/d3.min.js"></script>
</head>
<body>
      <!-- Start of navbar -->
      <nav class="navbar navbar-default">
          <div class="container-fluid navbar-custom">
  
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="row">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <div class="col-xs-12 phone-nav">
                    <a class="navbar-brand" href="/" id="logo">US Mass shootings 1982-2015</a>
                  </div>
                </div>
  
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right navbar-right-custom">
                  <li><a href="/states">State Gun Laws</a></li>
                  <!-- <li><a href="/">Incidents</a></li> -->
                </ul>
              </div><!-- /.navbar-collapse -->
            </div>
          </div><!-- /.container-fluid -->
      </nav>
        <!-- End of navbar -->
  <div clas="container">
    <div class="jumbotron text-center">
      <h1>Gun laws by state</h1>
      <div class="form-group">
          <label for="select state" class="col-sm-2 control-label">Select State</label>
          <div class="col-md-10">
            <select class="form-control" id="state" name="state">
              <option value="">N/A</option>
              <option value="Alaska">Alaska</option>
              <option value="Alabama">Alabama</option>
              <option value="Arkansas">Arkansas</option>
              <option value="Arizona">Arizona</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="District of Columbia">District of Columbia</option>
              <option value="Delaware">Delaware</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Iowa">Iowa</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="LA">Louisiana</option>
              <option value="Louisiana">Massachusetts</option>
              <option value="Maryland">Maryland</option>
              <option value="Maine">Maine</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Missouri">Missouri</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Montana">Montana</option>
              <option value="North Carolin">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Nebraska">Nebraska</option>
              <option value="New Hampshire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="Nevada">Nevada</option>
              <option value="New York">New York</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="uerto Rico">Puerto Rico</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="Utah">Utah</option>
              <option value="Virginia">Virginia</option>
              <option value="Vermont">Vermont</option>
              <option value="Washington">Washington</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="West Virginia">West Virginia</option>
              <option value="Wyoming">Wyoming</option>
            </select>
          </div>
        </div>
    </div>
   
    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <h3>Summary table</h3>
          </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div id="add_table">

            </div>
          </div>
      </div>
    </div>
    <script type="text/javascript">
        /*construct dropdown*/
        d3.select("#state")
        .attr("onchange","getData(this.value)");

        function getData(state) {

          var base_url = "/getlaws/"
          URL = base_url+state
          console.log(URL)
          d3.html(URL, function(error, response) {
              //remove previous table
              var myNode = document.getElementById("add_table");
              while (myNode.firstChild) {
                  myNode.removeChild(myNode.firstChild);
              }
              //add new table
              document.getElementById("add_table").appendChild(response);
            })
        }
   </script>
  </div>

</body>
</html>